<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Title</title>
    <link rel="stylesheet" href=./dist/css/zui.css>
    <script src="./dist/lib/jquery/jquery.js"></script>
    <script src="../dist/facedb.js"></script>
    <script src="./dist/js/zui.min.js"> </script>
    <style>
        html,body{
        height: 100%;
    }</style>
</head>
<body>
    <div id ="l1" style="color:white;width:100%;font-size:25px;height:10%">
        <div class="logo" style="float: left;"><img src="img/cooplog.png"></div>
        <div class="logo1" style="float: left;margin-left: 200px;margin-top: 50px";><img src="img/head.png"></div>
    </div>
    <iframe style="height: 85%;width: 100%" frameborder="0" src = "pages/facedb.htm"></iframe>
</body>
</html>