<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Title</title>
    <link rel="stylesheet" href=./dist/css/zui.css>
    <script src="./dist/lib/jquery/jquery.js"></script>
    <script src="../dist/facedb.js"></script>
    <script src="./dist/js/zui.min.js"> </script>
    <style>
        html,body{
            height: 100%;width:100%;
        }
        #lhead{
            height:15%;
        }
        #content{
            height:85%;
        }

    </style>
</head>
<body>
    <div id ="lhead"  style=" background-image:url('img/headbg.jpg') ;width:100%;font-size:25px">
        <div id="logo" style="float: left;height:100%"><img src="img/cooplog.png" width=100% height=100%></div>
        <!--<div id="d1" style="float: left;margin-left: 80px;margin-top: 10px";><img src="img/head.png"></div>-->
        <!--<div id="d2" style="float: left;margin-left: 80px;margin-top: 10px";><img src="img/head.png"></div>-->
        <!--<div id="d3" style="float: left;margin-left: 80px;margin-top: 10px";><img src="img/head.png"></div>-->
        <!--<div id="d4" style="float: left;margin-left: 80px;margin-top: 10px";><img src="img/head.png"></div>-->
    </div>
    <div id="content">
        <iframe style="height: 100%;width: 100%" frameborder="0" src = "pages/facedb.htm"></iframe>
    </div>
</body>
</html>