<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/首页/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/首页/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (New Master 1) -->

    <!-- Unnamed (Rectangle) -->
    <div id="u1" class="ax_default box_1">
        <div id="u1_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) [footnote] -->
    <div id="u1_ann" class="annotation"></div>

    <!-- Unnamed (Rectangle) -->
    <div id="u3" class="ax_default box_1">
        <img id="u3_img" class="img " src="images/首页/u3.png"/>
        <!-- Unnamed () -->
        <div id="u4" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) [footnote] -->
    <div id="u3_ann" class="annotation"></div>

    <!-- personal_management (Group) -->
    <div id="u5" class="ax_default" data-label="personal_management">

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default heading_2">
            <div id="u6_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u7" class="text" style="visibility: visible;">
                <p><span>人员管理</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u8" class="ax_default image1">
            <img id="u8_img" class="img " src="images/首页/u8.png"/>
            <!-- Unnamed () -->
            <div id="u9" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) [footnote] -->
        <div id="u8_ann" class="annotation"></div>
    </div>

    <!-- device_management (Group) -->
    <div id="u10" class="ax_default" data-label="device_management">

        <!-- Unnamed (Rectangle) -->
        <div id="u11" class="ax_default heading_2">
            <div id="u11_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12" class="text" style="visibility: visible;">
                <p><span>设备管理</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u13" class="ax_default image1">
            <img id="u13_img" class="img " src="images/首页/u8.png"/>
            <!-- Unnamed () -->
            <div id="u14" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) [footnote] -->
        <div id="u13_ann" class="annotation"></div>
    </div>

    <!-- personal_search (Group) -->
    <div id="u15" class="ax_default" data-label="personal_search">

        <!-- Unnamed (Rectangle) -->
        <div id="u16" class="ax_default heading_2">
            <div id="u16_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u17" class="text" style="visibility: visible;">
                <p><span>人员查询</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u18" class="ax_default image1">
            <img id="u18_img" class="img " src="images/首页/u8.png"/>
            <!-- Unnamed () -->
            <div id="u19" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) [footnote] -->
        <div id="u18_ann" class="annotation"></div>
    </div>

    <!-- stranger_management (Group) -->
    <div id="u20" class="ax_default" data-label="stranger_management">

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="ax_default heading_2">
            <div id="u21_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u22" class="text" style="visibility: visible;">
                <p><span>陌生人管理</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u23" class="ax_default image1">
            <img id="u23_img" class="img " src="images/首页/u8.png"/>
            <!-- Unnamed () -->
            <div id="u24" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) [footnote] -->
        <div id="u23_ann" class="annotation"></div>
    </div>

    <!-- welcome_management (Group) -->
    <div id="u25" class="ax_default" data-label="welcome_management">

        <!-- Unnamed (Rectangle) -->
        <div id="u26" class="ax_default heading_2">
            <div id="u26_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u27" class="text" style="visibility: visible;">
                <p><span>欢迎界面设置</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u28" class="ax_default image1">
            <img id="u28_img" class="img " src="images/首页/u8.png"/>
            <!-- Unnamed () -->
            <div id="u29" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Image) [footnote] -->
        <div id="u28_ann" class="annotation"></div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u30" class="ax_default image1">
        <img id="u30_img" class="img " src="images/首页/u30.png"/>
        <!-- Unnamed () -->
        <div id="u31" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u32" class="ax_default heading_1">
        <div id="u32_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u33" class="text" style="visibility: visible;">
            <p><span>迎宾系统</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u34" class="ax_default box_3">
        <div id="u34_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u35" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- time (Rectangle) -->
    <div id="u36" class="ax_default label" data-label="time">
        <div id="u36_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u37" class="text" style="visibility: visible;">
            <p><span>XX年XX时XX分</span></p>
        </div>
    </div>

    <!-- time (Rectangle) [footnote] -->
    <div id="u36_ann" class="annotation"></div>

    <!-- Unnamed (Rectangle) -->
    <div id="u38" class="ax_default label">
        <div id="u38_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u39" class="text" style="visibility: visible;">
            <p><span>欢迎您，超级管理员！</span></p>
        </div>
    </div>

    <!-- logout (Rectangle) -->
    <div id="u40" class="ax_default label" data-label="logout">
        <div id="u40_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u41" class="text" style="visibility: visible;">
            <p><span>退出系统</span></p>
        </div>
    </div>

    <!-- logout_bar (Placeholder) -->
    <div id="u42" class="ax_default placeholder" data-label="logout_bar">
        <img id="u42_img" class="img " src="images/首页/logout_bar_u42.png"/>
        <!-- Unnamed () -->
        <div id="u43" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- logout_bar (Placeholder) [footnote] -->
    <div id="u42_ann" class="annotation"></div>

    <!-- search (Group) -->
    <div id="u44" class="ax_default" data-label="search">

        <!-- Unnamed (Rectangle) -->
        <div id="u45" class="ax_default box_3">
            <div id="u45_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u46" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u47" class="ax_default box_3">
            <img id="u47_img" class="img " src="images/首页/u47.png"/>
            <!-- Unnamed () -->
            <div id="u48" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- PIc_show (Dynamic Panel) -->
    <div id="u49" class="ax_default" data-label="PIc_show">
        <div id="u49_state0" class="panel_state" data-label="State1">
            <div id="u49_state0_content" class="panel_state_content">

                <!-- Unnamed (Text Area) -->
                <div id="u50" class="ax_default text_area">
                    <textarea id="u50_input"></textarea>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u51" class="ax_default">

                    <!-- Unnamed (Image) -->
                    <div id="u52" class="ax_default image1">
                        <img id="u52_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u53" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u54" class="ax_default image1">
                        <img id="u54_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u55" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u56" class="ax_default image1">
                        <img id="u56_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u57" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u58" class="ax_default image1">
                        <img id="u58_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u59" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u60" class="ax_default label">
                        <div id="u60_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u61" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u62" class="ax_default label">
                        <div id="u62_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u63" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u64" class="ax_default label">
                        <div id="u64_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u65" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u66" class="ax_default label">
                        <div id="u66_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u67" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u68" class="ax_default image1">
                        <img id="u68_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u69" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u70" class="ax_default image1">
                        <img id="u70_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u71" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u72" class="ax_default image1">
                        <img id="u72_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u73" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u74" class="ax_default image1">
                        <img id="u74_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u75" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u76" class="ax_default label">
                        <div id="u76_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u77" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u78" class="ax_default label">
                        <div id="u78_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u79" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u80" class="ax_default label">
                        <div id="u80_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u81" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u82" class="ax_default label">
                        <div id="u82_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u83" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u84" class="ax_default image1">
                        <img id="u84_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u85" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u86" class="ax_default image1">
                        <img id="u86_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u87" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u88" class="ax_default image1">
                        <img id="u88_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u89" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u90" class="ax_default image1">
                        <img id="u90_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u91" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u92" class="ax_default label">
                        <div id="u92_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u93" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u94" class="ax_default label">
                        <div id="u94_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u95" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u96" class="ax_default label">
                        <div id="u96_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u97" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u98" class="ax_default label">
                        <div id="u98_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u99" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u100" class="ax_default image1">
                        <img id="u100_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u101" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u102" class="ax_default image1">
                        <img id="u102_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u103" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u104" class="ax_default image1">
                        <img id="u104_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u105" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u106" class="ax_default image1">
                        <img id="u106_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u107" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u108" class="ax_default label">
                        <div id="u108_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u109" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u110" class="ax_default label">
                        <div id="u110_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u111" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u112" class="ax_default label">
                        <div id="u112_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u113" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u114" class="ax_default label">
                        <div id="u114_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u115" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u116" class="ax_default image1">
                        <img id="u116_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u117" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u118" class="ax_default image1">
                        <img id="u118_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u119" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u120" class="ax_default image1">
                        <img id="u120_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u121" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u122" class="ax_default image1">
                        <img id="u122_img" class="img " src="images/首页/u52.png"/>
                        <!-- Unnamed () -->
                        <div id="u123" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u124" class="ax_default label">
                        <div id="u124_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u125" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u126" class="ax_default label">
                        <div id="u126_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u127" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u128" class="ax_default label">
                        <div id="u128_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u129" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u130" class="ax_default label">
                        <div id="u130_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u131" class="text" style="visibility: visible;">
                            <p><span>姓名：XXX</span></p><p><span>ID：XXXXX</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Droplist) -->
    <div id="u132" class="ax_default droplist">
        <select id="u132_input">
            <option selected value="姓名">姓名</option>
            <option value="ID">ID</option>
        </select>
    </div>

    <!-- Unnamed (HTML Button) -->
    <div id="u133" class="ax_default html_button">
        <input id="u133_input" type="submit" value="搜索"/>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u134" class="ax_default text_field">
        <input id="u134_input" type="text" value=""/>
    </div>

    <!-- device_check (Group) -->
    <div id="u135" class="ax_default" data-label="device_check">

        <!-- Unnamed (Rectangle) -->
        <div id="u136" class="ax_default box_3">
            <div id="u136_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u137" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Placeholder) -->
        <div id="u138" class="ax_default placeholder">
            <img id="u138_img" class="img " src="images/首页/u138.png"/>
            <!-- Unnamed () -->
            <div id="u139" class="text" style="visibility: visible;">
                <p><span>显示设备自检信息</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u140" class="ax_default box_3">
            <img id="u140_img" class="img " src="images/首页/u140.png"/>
            <!-- Unnamed () -->
            <div id="u141" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u142" class="ax_default label">
        <div id="u142_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u143" class="text" style="visibility: visible;">
            <p><span>人员查询</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u144" class="ax_default label">
        <div id="u144_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u145" class="text" style="visibility: visible;">
            <p><span>健康检查</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u146" class="ax_default box_3">
        <div id="u146_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u147" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- welcome (Group) -->
    <div id="u148" class="ax_default" data-label="welcome">

        <!-- Unnamed (Rectangle) -->
        <div id="u149" class="ax_default box_3">
            <img id="u149_img" class="img " src="images/首页/u149.png"/>
            <!-- Unnamed () -->
            <div id="u150" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u151" class="ax_default label">
            <div id="u151_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u152" class="text" style="visibility: visible;">
                <p><span>欢迎界面设置</span></p>
            </div>
        </div>
    </div>

    <!-- log (Group) -->
    <div id="u153" class="ax_default" data-label="log">

        <!-- Unnamed (Rectangle) -->
        <div id="u154" class="ax_default box_3">
            <div id="u154_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u155" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u156" class="ax_default box_3">
            <img id="u156_img" class="img " src="images/首页/u156.png"/>
            <!-- Unnamed () -->
            <div id="u157" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u158" class="ax_default label">
            <div id="u158_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u159" class="text" style="visibility: visible;">
                <p><span>来访记录</span></p>
            </div>
        </div>

        <!-- table (Dynamic Panel) -->
        <div id="u160" class="ax_default" data-label="table">
            <div id="u160_state0" class="panel_state" data-label="State1">
                <div id="u160_state0_content" class="panel_state_content">

                    <!-- Unnamed (Text Area) -->
                    <div id="u161" class="ax_default text_area">
                        <textarea id="u161_input"></textarea>
                    </div>

                    <!-- Unnamed (Table) -->
                    <div id="u162" class="ax_default">

                        <!-- Unnamed (Table Cell) -->
                        <div id="u163" class="ax_default table_cell">
                            <img id="u163_img" class="img " src="images/首页/u163.png"/>
                            <!-- Unnamed () -->
                            <div id="u164" class="text" style="visibility: visible;">
                                <p><span>姓名</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u165" class="ax_default table_cell">
                            <img id="u165_img" class="img " src="images/首页/u165.png"/>
                            <!-- Unnamed () -->
                            <div id="u166" class="text" style="visibility: visible;">
                                <p><span>ID</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u167" class="ax_default table_cell">
                            <img id="u167_img" class="img " src="images/首页/u167.png"/>
                            <!-- Unnamed () -->
                            <div id="u168" class="text" style="visibility: visible;">
                                <p><span>来访时间</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u169" class="ax_default table_cell">
                            <img id="u169_img" class="img " src="images/首页/u169.png"/>
                            <!-- Unnamed () -->
                            <div id="u170" class="text" style="visibility: visible;">
                                <p><span>设备号</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u171" class="ax_default table_cell">
                            <img id="u171_img" class="img " src="images/首页/u163.png"/>
                            <!-- Unnamed () -->
                            <div id="u172" class="text" style="visibility: visible;">
                                <p><span>XXX</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u173" class="ax_default table_cell">
                            <img id="u173_img" class="img " src="images/首页/u165.png"/>
                            <!-- Unnamed () -->
                            <div id="u174" class="text" style="visibility: visible;">
                                <p><span>00001</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u175" class="ax_default table_cell">
                            <img id="u175_img" class="img " src="images/首页/u167.png"/>
                            <!-- Unnamed () -->
                            <div id="u176" class="text" style="visibility: visible;">
                                <p><span>2018/08/12</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u177" class="ax_default table_cell">
                            <img id="u177_img" class="img " src="images/首页/u169.png"/>
                            <!-- Unnamed () -->
                            <div id="u178" class="text" style="visibility: visible;">
                                <p><span>Ab123</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u179" class="ax_default table_cell">
                            <img id="u179_img" class="img " src="images/首页/u163.png"/>
                            <!-- Unnamed () -->
                            <div id="u180" class="text" style="visibility: visible;">
                                <p><span>XXX</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u181" class="ax_default table_cell">
                            <img id="u181_img" class="img " src="images/首页/u165.png"/>
                            <!-- Unnamed () -->
                            <div id="u182" class="text" style="visibility: visible;">
                                <p><span>00002</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u183" class="ax_default table_cell">
                            <img id="u183_img" class="img " src="images/首页/u167.png"/>
                            <!-- Unnamed () -->
                            <div id="u184" class="text" style="visibility: visible;">
                                <p><span>2018/10/12</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u185" class="ax_default table_cell">
                            <img id="u185_img" class="img " src="images/首页/u169.png"/>
                            <!-- Unnamed () -->
                            <div id="u186" class="text" style="visibility: visible;">
                                <p><span>M12W3</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u187" class="ax_default table_cell">
                            <img id="u187_img" class="img " src="images/首页/u163.png"/>
                            <!-- Unnamed () -->
                            <div id="u188" class="text" style="visibility: visible;">
                                <p><span>XXX</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u189" class="ax_default table_cell">
                            <img id="u189_img" class="img " src="images/首页/u165.png"/>
                            <!-- Unnamed () -->
                            <div id="u190" class="text" style="visibility: visible;">
                                <p><span>00003</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u191" class="ax_default table_cell">
                            <img id="u191_img" class="img " src="images/首页/u167.png"/>
                            <!-- Unnamed () -->
                            <div id="u192" class="text" style="visibility: visible;">
                                <p><span>2018/9/12</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u193" class="ax_default table_cell">
                            <img id="u193_img" class="img " src="images/首页/u169.png"/>
                            <!-- Unnamed () -->
                            <div id="u194" class="text" style="visibility: visible;">
                                <p><span>Y871A</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u195" class="ax_default table_cell">
                            <img id="u195_img" class="img " src="images/首页/u163.png"/>
                            <!-- Unnamed () -->
                            <div id="u196" class="text" style="visibility: visible;">
                                <p><span>XXX</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u197" class="ax_default table_cell">
                            <img id="u197_img" class="img " src="images/首页/u165.png"/>
                            <!-- Unnamed () -->
                            <div id="u198" class="text" style="visibility: visible;">
                                <p><span>00004</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u199" class="ax_default table_cell">
                            <img id="u199_img" class="img " src="images/首页/u167.png"/>
                            <!-- Unnamed () -->
                            <div id="u200" class="text" style="visibility: visible;">
                                <p><span>2019/01/03</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u201" class="ax_default table_cell">
                            <img id="u201_img" class="img " src="images/首页/u169.png"/>
                            <!-- Unnamed () -->
                            <div id="u202" class="text" style="visibility: visible;">
                                <p><span>Kw23Q</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u203" class="ax_default table_cell">
                            <img id="u203_img" class="img " src="images/首页/u203.png"/>
                            <!-- Unnamed () -->
                            <div id="u204" class="text" style="visibility: visible;">
                                <p><span>XXX</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u205" class="ax_default table_cell">
                            <img id="u205_img" class="img " src="images/首页/u205.png"/>
                            <!-- Unnamed () -->
                            <div id="u206" class="text" style="visibility: visible;">
                                <p><span>00005</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u207" class="ax_default table_cell">
                            <img id="u207_img" class="img " src="images/首页/u207.png"/>
                            <!-- Unnamed () -->
                            <div id="u208" class="text" style="visibility: visible;">
                                <p><span>2019/01/22</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Table Cell) -->
                        <div id="u209" class="ax_default table_cell">
                            <img id="u209_img" class="img " src="images/首页/u209.png"/>
                            <!-- Unnamed () -->
                            <div id="u210" class="text" style="visibility: visible;">
                                <p><span>12C3A</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u211" class="ax_default label">
            <div id="u211_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u212" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u213" class="ax_default droplist">
            <select id="u213_input">
                <option selected value="姓名">姓名</option>
                <option value="ID">ID</option>
            </select>
        </div>

        <!-- Unnamed (HTML Button) -->
        <div id="u214" class="ax_default html_button">
            <input id="u214_input" type="submit" value="搜索"/>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u215" class="ax_default text_field">
            <input id="u215_input" type="text" value=""/>
        </div>
    </div>

    <!-- Unnamed (HTML Button) -->
    <div id="u216" class="ax_default html_button">
        <input id="u216_input" type="submit" value="提交"/>
    </div>

    <!-- welcome_settings (Dynamic Panel) -->
    <div id="u217" class="ax_default" data-label="welcome_settings">
        <div id="u217_state0" class="panel_state" data-label="State1">
            <div id="u217_state0_content" class="panel_state_content">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u218" class="ax_default">
                    <div id="u218_state0" class="panel_state" data-label="State1">
                        <div id="u218_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u219" class="ax_default box_1">
                                <div id="u219_div" class=""></div>
                                <!-- Unnamed () -->
                                <div id="u220" class="text" style="display: none; visibility: hidden">
                                    <p><span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Text Area) -->
                <div id="u221" class="ax_default text_area">
                    <textarea id="u221_input"></textarea>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u222" class="ax_default label">
                    <div id="u222_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u223" class="text" style="visibility: visible;">
                        <p><span>默认</span></p><p><span>主题</span></p>
                    </div>
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u224" class="ax_default droplist">
                    <select id="u224_input">
                        <option selected value="主题1">主题1</option>
                        <option value="主题2">主题2</option>
                        <option value="主题3">主题3</option>
                        <option value="主题4">主题4</option>
                        <option value="主题5">主题5</option>
                        <option value="主题6">主题6</option>
                        <option value="主题7">主题7</option>
                    </select>
                </div>

                <!-- Unnamed (Droplist) [footnote] -->
                <div id="u224_ann" class="annotation"></div>

                <!-- Unnamed (必填项) -->

                <!-- Unnamed (Image) -->
                <div id="u226" class="ax_default image1">
                    <img id="u226_img" class="img " src="images/首页/u226.png"/>
                    <!-- Unnamed () -->
                    <div id="u227" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u228" class="ax_default label">
                    <div id="u228_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u229" class="text" style="visibility: visible;">
                        <p><span>语言</span></p>
                    </div>
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u230" class="ax_default droplist">
                    <select id="u230_input">
                        <option selected value="简体中文">简体中文</option>
                        <option value="繁體中文">繁體中文</option>
                        <option value="English(UK)">English(UK)</option>
                        <option value="English(US)">English(US)</option>
                        <option value="Español ">Español </option>
                        <option value="Français ">Français </option>
                        <option value="日本語">日本語</option>
                        <option value="韓国語">韓国語</option>
                        <option value="Deutsch">Deutsch</option>
                        <option value="Português">Português</option>
                        <option value="Italiano">Italiano</option>
                    </select>
                </div>

                <!-- Unnamed (必填项) -->

                <!-- Unnamed (Image) -->
                <div id="u232" class="ax_default image1">
                    <img id="u232_img" class="img " src="images/首页/u226.png"/>
                    <!-- Unnamed () -->
                    <div id="u233" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u234" class="ax_default label">
                    <div id="u234_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u235" class="text" style="visibility: visible;">
                        <p><span>默认</span></p><p><span>语音</span></p>
                    </div>
                </div>

                <!-- Unnamed (Placeholder) -->
                <div id="u236" class="ax_default placeholder">
                    <img id="u236_img" class="img " src="images/首页/u236.png"/>
                    <!-- Unnamed () -->
                    <div id="u237" class="text" style="visibility: visible;">
                        <p><span>文字转语音</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u238" class="ax_default label">
                    <div id="u238_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u239" class="text" style="visibility: visible;">
                        <p><span>字幕</span></p><p><span>内容</span></p>
                    </div>
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u240" class="ax_default droplist">
                    <select id="u240_input">
                        <option selected value="欢迎 XX领导莅临指导！">欢迎 XX领导莅临指导！</option>
                        <option value="欢迎XX！">欢迎XX！</option>
                        <option value="热烈欢迎XXX公司XXX领导莅临视察！">热烈欢迎XXX公司XXX领导莅临视察！</option>
                        <option value="XXX，欢迎你回来！">XXX，欢迎你回来！</option>
                    </select>
                </div>

                <!-- Unnamed (必填项) -->

                <!-- Unnamed (Image) -->
                <div id="u242" class="ax_default image1">
                    <img id="u242_img" class="img " src="images/首页/u226.png"/>
                    <!-- Unnamed () -->
                    <div id="u243" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u244" class="ax_default">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u245" class="ax_default label">
                        <div id="u245_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u246" class="text" style="visibility: visible;">
                            <p><span>生日</span></p><p><span>提醒</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Radio Button) -->
                    <div id="u247" class="ax_default radio_button">
                        <label for="u247_input">
                            <!-- Unnamed () -->
                            <div id="u248" class="text" style="visibility: visible;">
                                <p><span>是</span></p>
                            </div>
                        </label>
                        <input id="u247_input" type="radio" value="radio" name="choice"/>
                    </div>

                    <!-- Unnamed (Droplist) -->
                    <div id="u249" class="ax_default droplist">
                        <select id="u249_input">
                            <option selected value="姓名">姓名</option>
                            <option value="ID">ID</option>
                        </select>
                    </div>

                    <!-- Unnamed (HTML Button) -->
                    <div id="u250" class="ax_default html_button">
                        <input id="u250_input" type="submit" value="搜索"/>
                    </div>

                    <!-- Unnamed (Text Field) -->
                    <div id="u251" class="ax_default text_field">
                        <input id="u251_input" type="text" value=""/>
                    </div>

                    <!-- search_result (List Box) -->
                    <div id="u252" class="ax_default list_box" data-label="search_result">
                        <select id="u252_input" size="2">
                        </select>
                    </div>

                    <!-- Unnamed (HTML Button) -->
                    <div id="u253" class="ax_default html_button">
                        <input id="u253_input" type="submit" value="添加"/>
                    </div>

                    <!-- Unnamed (HTML Button) -->
                    <div id="u254" class="ax_default html_button">
                        <input id="u254_input" type="submit" value="删除"/>
                    </div>

                    <!-- Unnamed (Radio Button) -->
                    <div id="u255" class="ax_default radio_button">
                        <label for="u255_input">
                            <!-- Unnamed () -->
                            <div id="u256" class="text" style="visibility: visible;">
                                <p><span>否</span></p>
                            </div>
                        </label>
                        <input id="u255_input" type="radio" value="radio" name="choice"/>
                    </div>
                </div>

                <!-- Unnamed (Radio Button) -->
                <div id="u257" class="ax_default radio_button">
                    <label for="u257_input">
                        <!-- Unnamed () -->
                        <div id="u258" class="text" style="visibility: visible;">
                            <p><span>是</span></p>
                        </div>
                    </label>
                    <input id="u257_input" type="radio" value="radio" name="choice"/>
                </div>

                <!-- Unnamed (Radio Button) -->
                <div id="u259" class="ax_default radio_button">
                    <label for="u259_input">
                        <!-- Unnamed () -->
                        <div id="u260" class="text" style="visibility: visible;">
                            <p><span>否</span></p>
                        </div>
                    </label>
                    <input id="u259_input" type="radio" value="radio" name="choice"/>
                </div>

                <!-- Unnamed (必填项) -->

                <!-- Unnamed (Image) -->
                <div id="u262" class="ax_default image1">
                    <img id="u262_img" class="img " src="images/首页/u226.png"/>
                    <!-- Unnamed () -->
                    <div id="u263" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
